html {
    font-size: 62.5%;
    box-sizing: border-box; /*Hack para box-model*/
    scroll-snap-type: y mandatory; /*Efecto de scroll en el eje y*/
}
*, *:before, *:after {
    box-sizing: inherit;
}


.header {
    width: 100%;
    margin: auto;
    background-color: #ffed02;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.header .btn-menu {
    float: left;
    line-height: 70px;
    margin-left: 5rem;
}

.header .btn-menu label {
    font-size: 25px;
    cursor: pointer;
    height: 25px;
    width: 25px;
}

/*Menu Lateral*/
#btn-menu {
    display: none;
}

.container-menu {
    position: absolute;
    background: rgba(3, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 90;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #802891;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    z-index: 50;
}

#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 500ms ease;
    font-size: 2rem;
}

.cont-menu nav a:hover {
    border-left: 5px solid #fff;
    background: #ffed06;
    color: #000;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/*Buscador*/

.buscador {
    position: absolute;
    left: 68%;
    top: 7%; 
    transform: translate(-50%, -50%);
    padding: 10px;
}

.buscador input {
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid #722b85;
    transition: all .7s ease;
}

::placeholder {
    color: gray;
}

.btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: #722b85;
    line-height: 80px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn i {
    font-size: 25px;
    color: white;
    line-height: 80px;
    transition: all .7s ease;
}

.buscador:hover input {
    width: 350px;
}

.buscador:hover i {
    transform: rotate(-360deg);
}

.btn:hover {
    background: #722b85;
}

/*Boton agregar libro*/

.btnAgregar {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    border: none;
    outline: none;
    padding: 0.8rem;
    border-radius: 1rem;
    background-color: #fff;
    margin-right: 5rem;
    width: 17rem;
    height: 4rem;
}


.btnAgregar span{
    font-weight: 600;
    transition: .4s ease-in-out all;
    position: absolute;
    left: 20%; /*calcular*/
}

.btnAgregar:hover {
    background: #fff;
}

.btnAgregar .icono-boton-agregar {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -40px;
    transition: .3s ease-in-out all;
    opacity: 0;
}

.btnAgregar i {
    color: #000;
    width: 3.5rem;
    height: 3.5rem;
}

.btnAgregar:hover .icono-boton-agregar {
    left: calc(100% - 5rem);
    opacity: 1;
}

.btnAgregar:hover span {
    left: 10px;
}

/*Botón Cerrar Sesion*/

.butn {
    position: relative;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #fff;
    transition: all 0.6s ease;
}

.butn:hover{
    background-color: #ffee06cb;
    box-shadow: 0 0 2rem #ffed06;
    border-color: #ffed06;
}

.butn span:nth-child(n) {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid;
    transition: all 0.6s ease;
}

.butn span:nth-child(1) {
    right: 10%;
    top: -10px;
    background-color: #fff;
}

.butn span:nth-child(2) {
    left: 10%;
    bottom: -10px;
    background-color: #ffed06;
}

.butn:hover span:nth-child(1) {
    right: 80%;
    transform: rotate(90deg);
    color: #ffed06;
    background-color: #ffed06;
}

.butn:hover span:nth-child(2) {
    left: 80%;
    transform: rotate(90deg);
    color: #ffed06;
}

.btnCerrarSesion {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.8rem;
    border: 3px solid;
}

/*FORMULARIO PARA SUBIR LIBROS*/

/*
.formulario{
    width: 300px;
    height: 300px;
    font-family: inherit;
    background-color: #151D22;
    box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.1);
    padding: 40px 20px;
    border-radius: 5px;
}*/

.formulario .field {
    width: 100%;
    position: relative;
    margin-bottom: 32px;
}

/*Input*/
.formulario .field .input{
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    padding: 10px;
    color: #000;
    
    border: 1px solid #000;
    transition: all .3s ease-in-out;
}

/*Label*/
.formulario .field .label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.4);
    transition: all .3s ease-in-out;
}

/*Input animado*/
.formulario .field .input::placeholder {
    opacity: 0;
    color: rgba(0, 0, 0, 0.4);
    transition: all .3s ease-in-out;
}

.formulario .field .input:hover,
.formulario .field .input:focus,
.formulario .field .input:not(:placeholder-shown) {
    border: 1px solid blue;
    transition: all .3s ease-in-out;
}

.formulario .field .input:focus::placeholder {
    opacity: 1;
}

.formulario .field .input:focus + .label,
.formulario .field .input:not(:placeholder-shown) + .label{
    top: -40%;
    transform: translateY(50%);
    left: 8px;
    font-size: 12px;
    padding: 0 8px;
    color: #000;
    background-color: #fff;
    transition: all .3s ease-in-out;
}

/* ===================== SECCION MAIN ===================== */

.main {
    position: relative;
    height: 60vh;
    
}


/*Boton para ir arriba*/

#button-up{
    width: 6rem;
    height: 6rem;
    background: #46a2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 2rem;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}







/*TARJETAS*/

.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  
  .card {
    margin: 10px;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .imgStyle {
    width: 150px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .cardStyle {
    flex: 1;
    padding: 10px;
    text-align: left;
  }
  
  .titulo {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-text {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .card-text li {
    margin-bottom: 5px;
  }

  .card-text li strong {
    font-size: 16px; /* Tamaño del texto de las etiquetas */
  }
  
  .card-text li span {
    font-size: 14px; /* Tamaño del texto de los valores */
  }
  
  
  .Apartar {
    color: white;
    background-color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .Apartar i {
    margin-right: 5px;
  }

  .Eliminar {
    margin-left: 343px;
    color: white;
    background-color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  


